/* TODO: convert to sass */

p {
  margin-bottom: 0;
}

.footer-text {
  padding: 16px;
}

.github-link {
  padding-left: 10px;
}

/* TODO: figure out ideal size for icons */
.github-icon {
  max-height: 24px;
  max-width: 24px;
}

.linkedin-link {
  padding-left: 10px;
}

/* TODO: figure out ideal size for icons */
.linkedin-icon {
  max-height: 30px;
  max-width: 30px;
}